@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.loading {
  z-index: 20;
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.logo {
  width: 36%;
  margin-left: 80px;
  margin-right: 80px;
}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  height: 70px;
  align-items: center;
  font-size: 1.1em;
  font-weight: 600;
  display: flex;
  background-color: transparent;
  transition: all 0.5s linear;
  z-index: 1000;
}
.nav.active {
  background: white;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.4);
}
.activenav {
  border-bottom: 0.1px #cccccc solid;
}
.navLinks {
  width: 100%;
  background-color: transparent;
  list-style: none;
  justify-content: space-around;
  display: flex;
  font-weight: 600;
}
.navLinks li {
  font-size: 0.9em;

  cursor: pointer;
}
.navLinks li::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #000000;
  transition: width 0.3s;
}
.activlink li::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #000000;
  transition: width 0.3s;
  width: 100%;
}
.navLinks li:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.rightComp {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-left: 300px;
  margin-right: 20px;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  border-radius: 99px;
  width: 30px;
  height: 4px;
  background-color: #000000;
  margin: 6px;
  transition: all 0.3s ease;
}
/*slider*/

.slider {
  position: relative;
  height: 700px;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.slide.current {
  display: inline;
  opacity: 1;
}
.ShopNow {
  width: 190px;
  align-items: center;
  border: none;
  background-color: #1e1e2c;
  color: rgb(241, 241, 241);
  border-radius: 30px;
  font-size: 19px;
  outline: none;
  padding: 11px 0px;
  transition: all ease-out 0.3s;
}
.ShopNow:hover {
  color: #1e1e2c;
  cursor: pointer;
  background-color: #ebebeb;
}
.ShopNow::before {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  transition: all ease 0.5s;
}
.ShopNow:hover::before {
  transition: 0.5s all ease;
  border-radius: 30px;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.5);
}
/*btns */
.slide .content {
  opacity: 0;
  position: absolute;
  left: -600px;
  bottom: 70px;
}
.slide.current .content {
  z-index: 1;
  opacity: 1;
  transform: translateX(700px);
  transition: all 0.7s ease-in-out 0.3s;
}

.slide .titleslider {
  opacity: 0;
  position: absolute;
  top: -600px;
  left: 100px;
  font-size: 70px;
  font-weight: 700;
}
.slide .subtitleslider {
  opacity: 0;
  position: absolute;
  top: -600px;
  left: 100px;
  font-size: 30px;
  font-weight: 500;
}
.slide.current .titleslider {
  opacity: 1;
  transform: translateY(870px);
  transition: all 0.7s ease-in-out 0.3s;
}
.slide.current .subtitleslider {
  opacity: 1;
  transform: translateY(970px);
  transition: all 0.7s ease-in-out 0.3s;
}
.next {
  position: absolute;
  opacity: 0.5;
  top: 50%;
  right: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.prev {
  position: absolute;
  opacity: 0.5;
  top: 50%;
  left: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.next:hover,
.prev:hover {
  opacity: 1;
}
/*background Images */

.slide:first-child {
  background: url("https://i.imgur.com/jJYOdBg.jpg") no-repeat center top/cover;
}
.slide:nth-child(2) {
  background: url("https://i.imgur.com/7rwaigw.jpg") no-repeat center top/cover;
}
.slide:nth-child(3) {
  background: url("https://i.imgur.com/3Obf6Tt.jpg") no-repeat center top/cover;
}
.slide:nth-child(4) {
  background: url("https://i.imgur.com/laeEnPm.jpg") no-repeat center top/cover;
}
/*/////////////Categories Cards ///////////////*/
.cards {
  display: grid;
  margin: 48px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 50px;
  row-gap: 20px;
}
.cardscg {
  width: 100%;
  height: 250px;
  display: grid;
  cursor: pointer;
  position: relative;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);
  grid-template-rows: 70% 30%;
}
.cardscg h1 {
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 20px;
}
.ShopNowcg {
  display: block;
  position: absolute;
  opacity: 0;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 30px;
  font-weight: 600;
  grid-row: 2/2;
  outline-style: none;
}
.cardscg:hover .ShopNowcg {
  position: relative;
  transition: 0.5s all ease;
  opacity: 1;
  align-self: center; /*Vertical */
  justify-self: start; /*Horizontal */
  transform: translateY(-50px);
}
.cardscg:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s all ease;
}
.cardscg:hover * {
  color: white;
  z-index: 3;
}
.cardscg::after {
  transition: 0.5s all ease;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0;
}
.cardscg:hover::after {
  display: block;
  transition: 0.5s all ease;
  transform: translateY(-20px);
  left: 0;
  right: 0;
  opacity: 0.9;
  z-index: 0;
  background: linear-gradient(180deg, rgb(75, 57, 116), rgba(0, 0, 0, 0.493));
}
.ShopNowcg::after {
  content: "";
  transition: all 1s ease-out;
  width: 0;
  height: 3px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 100%;
  background: white;
}
.cardscg:hover .ShopNowcg::after {
  transition: all 1s ease-out;
  width: 100%;
  left: 0;
  right: 0;
}
.cardscg:first-child {
  background: url("https://i.imgur.com/ugsxgsY.jpg") no-repeat center top/cover;
}
.cardscg:nth-child(2) {
  background: url("https://i.imgur.com/roN4Tqt.jpg") no-repeat center top/cover;
}
.cardscg:nth-child(3) {
  background: url("./img1.jpg") no-repeat center top/cover;
}

@media screen and (max-width: 1280px) {
  nav {
    background-color: #ffffff;
  }
  .navLinks {
    width: 100%;
    margin-left: 00px;
  }
  .logo {
    margin-left: 30px;
  }
  .rightComp {
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .main {
    overflow-x: hidden;
  }
  nav {
    background-color: white;
  }
  .slide.current .content {
    z-index: 1;
  }
  .navLinks {
    position: absolute;
    right: 0px;
    width: 100%;
    height: 100vh;
    top: 10px;
    margin-top: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
  }
  .slider {
    z-index: 0;
  }

  .navLinks li {
    opacity: 0;
  }
  .slide:first-child {
    background: url("product2media.png") no-repeat center top/cover;
  }
  .slide:nth-child(2) {
    /* position: absolute; */
    background-position: right;
  }
  .slide:nth-child(3) {
    /* position: absolute; */
    background-position: bottom 10px right -100px;
  }
  .slide:nth-child(4) {
    /* position: absolute; */
    background-position: right;
  }
  .slide .titleslider {
    left: 220px;
  }
  .slide.current .titleslider {
    font-size: 26px;
    transform: translateY(770px);
  }
  .slide:first-child .titleslider {
    left: 220px;
    font-size: 38px;
  }

  .slide.current .subtitleslider {
    font-size: 20px;
    left: 220px;
    transform: translateY(830px);
    top: -620px;
  }
  .slide:first-child .subtitleslider {
    left: 220px;
    top: -540px;
  }
  .slide.current .content {
    transform: translateX(840px);
    bottom: 200px;
  }
  .logo {
    /* position: absolute; */
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    background-color: white;
  }
  .rightComp {
    position: absolute;
    top: 15px;
    width: 100%;
    right: 0px;
    margin-top: 55px;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
    transform: translateX(100%);
    opacity: 0;
    background-color: white;
  }
  .burger {
    position: absolute;
    right: 0px;
    margin-right: 12px;
    display: inline-block;
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -6px);
}
.burgerActive {
  transform: translateX(0%);
}
