@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 36%;
  margin-left: 80px;
  margin-right: 80px;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  height: 70px;
  align-items: center;
  font-size: 1.1em;
  font-weight: 600;
  display: flex;
  background-color: transparent;
  transition: all 0.5s linear;
  z-index: 1000;
}
.nav.active {
  background: white;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.4);
}
.activenav {
  border-bottom: 0.1px #cccccc solid;
}
.navLinks {
  width: 100%;
  background-color: transparent;
  list-style: none;
  justify-content: space-around;
  display: flex;
  font-weight: 600;
}
.navLinks li {
  font-size: 0.9em;

  cursor: pointer;
}
.navLinks li::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #000000;
  transition: width 0.3s;
}
.activlink li::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #000000;
  transition: width 0.3s;
  width: 100%;
}
.navLinks li:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/*slider*/

.slider {
  position: relative;
  height: 700px;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.slide.current {
  display: inline;
  opacity: 1;
}
.ShopNow {
  width: 190px;
  align-items: center;
  border: none;
  background-color: #1e1e2c;
  color: rgb(241, 241, 241);
  border-radius: 30px;
  font-size: 19px;
  outline: none;
  padding: 11px 0px;
  transition: all ease-out 0.3s;
}
.ShopNow:hover {
  color: #1e1e2c;
  cursor: pointer;
  background-color: #ebebeb;
}
.ShopNow::before {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  transition: all ease 0.5s;
}
.ShopNow:hover::before {
  transition: 0.5s all ease;
  border-radius: 30px;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.5);
}
/*btns */
.slide .content {
  opacity: 0;
  position: absolute;
  left: -600px;
  bottom: 70px;
}
.slide.current .content {
  z-index: 1;
  opacity: 1;
  transform: translateX(700px);
  transition: all 0.7s ease-in-out 0.3s;
}

.slide .titleslider {
  opacity: 0;
  position: absolute;
  top: -600px;
  left: 100px;
  font-size: 70px;
  font-weight: 700;
}
.slide .subtitleslider {
  opacity: 0;
  position: absolute;
  top: -600px;
  left: 100px;
  font-size: 30px;
  font-weight: 500;
}
.slide.current .titleslider {
  opacity: 1;
  transform: translateY(870px);
  transition: all 0.7s ease-in-out 0.3s;
}
.slide.current .subtitleslider {
  opacity: 1;
  transform: translateY(970px);
  transition: all 0.7s ease-in-out 0.3s;
}
.next {
  position: absolute;
  opacity: 0.5;
  top: 50%;
  right: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.prev {
  position: absolute;
  opacity: 0.5;
  top: 50%;
  left: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.next:hover,
.prev:hover {
  opacity: 1;
}
/*background Images */

.slide:first-child {
  background: url("https://i.imgur.com/jJYOdBg.jpg") no-repeat center top/cover;
}
.slide:nth-child(2) {
  background: url("https://i.imgur.com/7rwaigw.jpg") no-repeat center top/cover;
}
.slide:nth-child(3) {
  background: url("https://i.imgur.com/3Obf6Tt.jpg") no-repeat center top/cover;
}
.slide:nth-child(4) {
  background: url("https://i.imgur.com/laeEnPm.jpg") no-repeat center top/cover;
}
