@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 36%;
  margin-left: 80px;
  margin-right: 80px;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  height: 70px;
  align-items: center;
  font-size: 1.1em;
  font-weight: 600;
  display: flex;
  background-color: transparent;
  transition: all 0.5s linear;
  z-index: 1000;
}
.nav.active {
  background: white;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.4);
}
.activenav {
  border-bottom: 0.1px #cccccc solid;
}
.navLinks {
  width: 100%;
  background-color: transparent;
  list-style: none;
  justify-content: space-around;
  display: flex;
  font-weight: 600;
}
.navLinks li {
  font-size: 0.9em;

  cursor: pointer;
}
.navLinks li::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #000000;
  transition: width 0.3s;
}
.activlink li::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #000000;
  transition: width 0.3s;
  width: 100%;
}
.navLinks li:hover::after {
  width: 100%;
  transition: width 0.3s;
}
